<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_WDM_Cyclone_CycloneLeadEntryForm" CodeFile="~/CMSWebParts/WDM/Cyclone/CycloneLeadEntryForm.ascx.cs" %>

<cms:BizForm ID="viewBiz" runat="server" IsLiveSite="true" />