﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BizFormColumnSelector.ascx.cs" Inherits="CMSFormControls_WDM_Selectors_BizFormColumnSelector" %>

<cms:CMSDropDownList ID="dropDownList" runat="server" CssClass="DropDownField" />