﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ClonePromotionForm.ascx.cs" Inherits="CMSModules_WDM_ClonePromotionForm" %>

<cms:BasicForm runat="server" ID="form" OnOnAfterSave="form_OnOnAfterSave" />