.breadcrumb-wrapper {
    margin-bottom: 20px;

    a {
        color: #005696;

        :link {
            color: #005696;
        }

        :visited {
            color: #005696;
        }
    }
}
