.contact-form-wrapper {
    margin-top: 20px;
    margin-bottom: 60px;

    .contact-form-label {
        float: left;
        clear: both;
        width: 100%;
    }

    .mandatory-field{
        color:red;
    }

    .contact-form-control {
        float: left;
        clear: both;
        margin-bottom: 10px;
        width: 100%;

        textarea {
            min-height: 100px;
        }
    }

    .contact-form-validation {
        color: tomato;
        margin-bottom: 10px;
        float: left;
        clear: both;
    }

    .contact-form-submit {
        float: right;
        clear: both;
        margin-bottom: 40px;

        input[type="submit"] {
            padding: 5px 35px;
            background-color: #005696;
            border-radius: 4px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            border-style: solid;
            border: none;
            border-bottom: 3px solid #005696;
        }
    }

    .ErrorLabel {
        display: none;
    }
}

.contact-us-details {
    padding-left: 40px;

    ul {
        list-style: none;
        padding-left: 0;
    }
}

@media(max-width:992px) {
    .contact-us-details {
        clear: both!important;
        padding: 5px;
    }
}

@media(max-width:450px) {
    .contact-form-submit {
        width: 100%;

        input[type="submit"] {
            width: 100%;
        }
    }
}
