.footer {
    background-color: #005696;
    margin-top: 40px;
    padding: 20px 0;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-content {
    color: #fff;
    font-family: helvetica;
    padding-right: 40px;
}

.copyright-line {
    clear: both;
    float: left;
    width: 100%;
    text-align: right;
    color: #fff;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    margin-top: 30px;
    padding-top: 15px;
}

.company-footer-menu {
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 18px;
        font-family: helvetica;
        font-weight: bold;
        color: rgba(255,255,255,.5);
    }

    ul {
        list-style-image: url('/WTF/theme/dist/images/chevron-white.png');
        padding-left: 16px;

        a {
            text-decoration: none;
            font-size: 14px;
            color: #fff;
        }
    }
}

.community-footer-menu {
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 18px;
        font-family: helvetica;
        font-weight: bold;
        color: #a06312;
    }

    ul {
        list-style-image: url('/WTF/theme/dist/images/chevron-white.png');
        padding-left: 16px;

        a {
            text-decoration: none;
            font-size: 14px;
            color: #fff;
        }
    }
}
