////
/// Grids
/// @description Fluid and nestable grid system with responsive option.
/// @group Layout
/// @example[html] Basic grid with 3 columns.
///   <div class="row">
///     <div class="col-md-4">
///        ...
///     </div>
///     <div class="col-md-4">
///        ...
///     </div>
///     <div class="col-md-4">
///        ...
///     </div>
///   </div>
////

/// Containers
/// @description Set the container width, and override it for fixed navbars in media queries.
/// @example[html] Container wrapping all website content.
///   <div class="container">
///     <div class="site-header">
///       ...
///     </div>
///     <div id="page-content">
///       ...
///     </div>
///   </div>
/// @example[html] Container wrapping the sites page content only.
///   <div class="site-header">
///     ...
///   </div>
///   <div class="container">
///     <div id="page-content">
///       ...
///     </div>
///   </div>

.container {
    .container-fixed();
    @media (min-width: @screen-sm-min) {
        width: @container-sm;
    }
    @media (min-width: @screen-md-min) {
        width: @container-md;
    }
    @media (min-width: @screen-lg-min) {
        width: @container-lg;
    }
}

/// Row
/// @description Rows contain and clear the floats of the grid columns.
/// @example[html] Grid row.
///   <div class="row">
///      ...
///   </div>

.row {
    .make-row();
}

/// Columns
/// @description Common styles for small and large grid columns
.make-grid-columns();

// Extra small grid
// Columns, offsets, pushes, and pulls for extra small devices like smartphones.
.make-grid(xs);

// Small grid
// Columns, offsets, pushes, and pulls for the small device range, from phones to tablets.
@media (min-width: @screen-sm-min) {
    .make-grid(sm);
}

// Medium grid
// Columns, offsets, pushes, and pulls for the desktop device range.
@media (min-width: @screen-md-min) {
    .make-grid(md);
}

// Large grid
// Columns, offsets, pushes, and pulls for the large desktop device range.
@media (min-width: @screen-lg-min) {
    .make-grid(lg);
}

////
/// Custom Grids
/// @description Custom fluid grid system with responsive option.
/// @group Layout
/// @example[html] Custom grid with main and sidebar columns.
///   <div class="row">
///     <div class="col-main">
///        ...
///     </div>
///     <div class="col-sidebar">
///        ...
///     </div>
///   </div>
////

.col-main {
    .make-as-column();

    @media (min-width: @screen-sm-min) {
        // adjust column width?
    }
    @media (min-width: @screen-md-min) {
        width: 70%;
    }
    @media (min-width: @screen-lg-min) {
        // adjust column width?
    }
}

.col-sidebar {
    .make-as-column();

    @media (min-width: @screen-sm-min) {
        // adjust column width?
    }
    @media (min-width: @screen-md-min) {
        width: 30%;
    }
    @media (min-width: @screen-lg-min) {
        // adjust column width?
    }
}
