.main-content {
    display: block;
    min-height: 550px; // TODO: REMOVE LATER
}

.header {
    padding-top: 20px;
    margin-bottom: 40px;
}

.logo {
    position: absolute;
    min-height: 1px;
    z-index: 10;
}

.search {
    position: relative;
    z-index: 10;
    margin-top: 60px;
    float: right;
    clear: both;

    input[type="text"] {
        position: relative;
        top: -20px;
        height: 3rem;
        width: 200px;
        color: rgba(255,255,255,1);
        padding-right: 38px;
        border-radius: 50px;
        background-color: #c2d7e6;
        box-shadow: none;
        border-style: none;
    }

    .search-button {
        position: absolute;
        top: -16px;
        right: 10px;
    }

    label {
        display: none;
    }
}

@media(max-width: 768px) {
    .logo {
        margin-left: 10px;
    }

    .search {
        float: left;
        top: 50px;
        margin-left: 10px;
        z-index: 999;
    }
}

@media(max-width: 400px) {
    .logo {
        img{
            width: 85%;
        }
    }
}
