.main-content-zone {
    margin-bottom: 40px;
}

.page-title-h1 {
    h1 {
        margin-top: 0px !important;
    }
}

@media(min-width: 1210px) {
    .main-content-zone {
        margin-bottom: none;
    }
}

.page-intro-content {
    margin-bottom: 20px;
}

.editable-content {
    img {
        max-width: 100%!important;
    }

    ul {
        margin-left: 20px;
    }
}

.clearfix{
    clear: both;
}
