.left-navigation {
    margin-top: 25px;

    ul {
        .remove-list-styles();
    }

    li {
        position: relative;
        border-bottom: 1px solid #fff;

        // toggle button to open submenu
        > .toggle {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            width: 42px;
            height: 100%;
            background: rgba(0,0,0,0.1) url('../images/icons/submenu-arrow.png') center / 12px auto no-repeat;
            overflow: hidden; // hide text
            text-indent: -100%; // hide text
            cursor: pointer;

            &:hover {
                background-color: rgba(0,0,0,0.2);
            }
        }

        // toggle button that has opened submenu
        &.open > .toggle {
            transform: rotate(180deg); // point arrow up!
        }

        // default link styles
        a {
            display: block;
            padding: 10px 46px 10px 10px;
            color: @gray-dark;
            background-color: #dce3ed;

            &:hover {}
        }
    }

    // close menu
    li ul {
        display: none;
    }

    // open menu
    li.open > ul,
    li.active-on-path > ul {
        display: block;
    }

    // current page
    li.active > a {
        color: #000;
        background-color: #b8c7db;
    }

    // sub level link styles
    li ul a {
        background-image: url('../images/rpt-brushed-steel.jpg');
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
    }

}


@media(max-width:992px){
    .left-navigation {
        display: none;
    }
}
