.login-wrapper {
    padding-right: 50px;
}

.registration-wrapper {
    input[type="radio"] {
        margin-right: 10px;
    }

    label {
        margin-right: 5px;
    }

    span.EditingFormLabel {
        margin-right: 20px;
    }

    tr {
        margin-bottom: 10px;
    }

    .EditingFormLabel {}
}
