.navigation {
    position: relative;
    z-index: 20;
}

.item-selected-path{
    background-color: #fff;
    color: #005696!important;
}

.item-current{
    background-color: #fff;
    color: #005696!important;
}



.main-nav {
    background-color: #005696;
    background-size: contain;
    height: 35px;
    vertical-align: middle;
    text-align: right;
    border-bottom: 1px solid #fff;

    ul.nav {
        display: inline-block;
        position: relative;
        list-style: none;
        padding-left: 0;
        text-align: left;

        li {
            position: relative;
            z-index: 999;
        }
    }

    a {
        position: relative;
        line-height: 35px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-family: helvetica;
        font-weight: bold;
        text-decoration: none;
        padding: 0 10px;

        &.item-current {
            background-color: #fff;
            color: #005696;

            // &:hover{
            //     color:#fff;
            // }
        }

        span {
            box-sizing: border-box;
            position: relative;
            z-index: 999;
            font-size: 12px;
            padding: 14px 20px;
        }
    }
}

//////////////Responsive Drop Down Navigation Styles /////////////////////

a,
body,
li,
nav,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.toggleMenu {
    position: absolute;
    bottom: 100px;
    display: none;
    background: #005696;
    border-radius: 10px;
    padding: 0 10px;
    float: right;
    color: #fff!important;
}

.nav {
    list-style: none;
    *zoom: 1;
}

.nav:after,
.nav:before {
    content: ' ';
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
    min-width: 200px;
}

.nav li {
    position: relative;
}

.nav > li {
    float: left;
}

.nav > li > .parent {
    background-repeat: no-repeat;
    background-position: right;
}

.nav > li > a {
    display: block;
}

.nav li ul {
    background-color: #fff;
    position: absolute;
    z-index: 900;
    left: -9999px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.5);
}

.nav > li.hover > ul {
    left: 0;
}

.nav li li.hover ul {
    left: 100%;
    top: 0;
}

.nav li li a {
    display: block;
    position: relative;
    z-index: 100;
    white-space: nowrap;
    color: #005696;

    &:hover {
        background: #ddd; //My Preference for colour
    }
}

.nav li li a span {
    padding-left: 10px;
    border: none;
}

.nav li li li a {
    z-index: 200;
}
@media screen and (max-width: 768px) {
    .banner-image {
        display: none;
    }

    .search{
        visibility: hidden;
    }

    .main-nav {
        background-image: none;

        a span {
            border-style: none;
        }

        ul.nav {
            width: 100%;
            background-color: #005696;
            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
            -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);

            span {
                display: block;
                width: 100%;
                text-align: center;

                &:hover{
                    background-color: #3f88be;
                }
            }
        }
    }

    .active {
        display: block;
    }

    .nav > li {
        float: none;
    }

    .nav > li > .parent {
        background-position: 95% 50%;
    }

    .nav li li .parent {
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    .nav > li.hover > ul,
    .nav li li.hover ul {
        position: static;
    }

}
