.datetime-ui-datepicker select.datetime-ui-datepicker-month, .datetime-ui-datepicker select.datetime-ui-datepicker-year{
    width: 50%;
    float: left;
}

.promotions-form {

    .promotion-form-label-cell {
        width: 200px;
        float: left;
    }

    select {
        width: 200px;
    }

    input[type="text"] {
        width: 200px;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    label{
        margin-right: 10px;
    }

    .date-time-picker {
        position: relative;
        width: 200px;
        float: left;
    }

    button {
        opacity: 0;
        position: absolute;
        // height: 100%;
        top:0px;
        // width: 100%;
    }

    margin-bottom: 20px;

    .promotion-form-group {
        clear: both;
        margin-top: 10px;
        overflow: hidden;
    }

    // .promotions-form-label-cell {
    //     width: 130px;
    //     float: left;
    // }
    //
    // .promotions-form-value-cell {
    //     display: inline-block;
    //     float: left;
    // }
    //
    // .promotions-form-validation-cell {
    //     float: left;
    //     clear: both;
    //     margin-left: 130px;
    //     margin-top: 10px;
    //     color: tomato;
    // }
}

@media(max-width: 768px) {
    .promotions-form {

        select {
            width: 100%;
        }

        input[type="text"] {
            width: 100%;
        }

        .date-time-picker {
            width: 100%;
        }

        .promotion-form-label-cell {
            width: 100%;
            float: left;
        }

        .promotion-form-value-cell {
            width: 100%;
            float: left;
        }

        .promotion-form-validation-cell {
            float: left;
            clear: both;
            width: 100%;
            margin-left: 0;

            margin-top: 10px;
            color: tomato;
        }
    }
}
