.product-description {
    ul {
        margin-left: 20px;
    }
}

.product-related-products{
    margin-top: 10px;
}

.product-folder-tile {
    position: relative;
    float: left;
    width: 18%;
    padding-top: 18%;
    margin: 5px;
    margin-bottom: 5px;
    background-size: cover;

    span {
        position: absolute;
        width: 100%;
        padding: 5px 10px;
        font-size: 12px;
        left: 0;
        bottom: 0;
        color: #fff;
        text-transform: uppercase;
    }
}

.product-type-banner {
    position: relative;
    width: 100%;
    height: 220px;
    margin-top: 25px;
    background-size: cover;

    span {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #fff;
        background-color: rgba(0,86,150,0.9);
        padding: 5px 10px;
    }
}

@media(max-width: 768px){
    .product-folder-tiles{
        padding: 10px;
    }

    .product-folder-tile{
        width: 100%;
        height: 200px;
        margin: 0 0 10px;
    }

}
