////
/// Scaffholding
/// @description High level defaults establishing `font` and `color`.
/// @group Elements
////


/// Reset the box-sizing
/// @description This resets the box-sizing for all elements. Note some plugins may require box-sizing: content-box to display correnctly. In this case, apply the box-sizing: content-box to the plugin css class.

* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}


// Body defaults

html {
    font-size: 10px; // Setup for rem multiple of 10, i.e. 1.5rem === 15px
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: @font-family-sans-serif;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @text-color;
    background-color: @body-bg;
}

// Reset fonts for relevant elements

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


// Links defaults

a {
    color: @link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: @link-hover-color;
        text-decoration: @link-hover-decoration;
    }

    &:focus {
        .tab-focus();
    }
}


// Figures defaults
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
    margin: 0;
}


// Images defaults

img {
    vertical-align: middle;
}


// Horizontal rules defaults

hr {
    margin-top:    @line-height-base-px;
    margin-bottom: @line-height-base-px;
    border: 0;
    border-top: 1px dashed @hr-border-color;
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
    cursor: pointer;
}
