.home-page-tile {
    position: relative;
    margin-bottom: 15px;

    .inner {
        position: relative;
        overflow: hidden;

        p {
            margin-top: 20px;
        }

        span {
            font-size: 22px;
        }
    }

    &:hover {
        .home-page-tile__slider {
            transform: translateY(-208px);
        }
    }

    img {
        width: 100%;
        max-height: 258px;
    }

    .home-page-tile__slider {
        position: absolute;
        bottom: -208px;
        display: block;
        color: #fff;
        padding: 10px 20px;
        background-color: #005696;
        opacity: 0.9;
        text-align: left;
        width: 100%;
        height: 258px;
        transition: all 500ms;
        transition-timing-function: ease-in-out;
    }
}

@media(max-width:992px) {
    .home-page-tile__no-title {
        margin-bottom: 30px;
    }

    .home-page-tile__slider {
        height: 260px!important;
        bottom: -210px!important;
    }

    .home-page-tile {
        &:hover {
            .home-page-tile__slider {
                transform: translateY(-210px)!important;
            }
        }
    }
}

@media(min-width:992px) and (max-width: 1210px) {
    .home-page-tile {
        &:hover {
            .home-page-tile__slider {
                transform: translateY(-175px)!important;
            }
        }
    }

    .inner {
        span {
            font-size: 16px!important;
        }
    }

    .home-page-tile__slider {
        height: 214px!important;
        bottom: -175px!important;
    }
}
