////
/// Typography
/// @description Typography and list styles.
/// @group Elements
////

/// Headings
/// @description Heading styles.
/// @example[html]
///   <h1>Heading One</h1>
///   <span class="h1">Displays As Heading One!</span>

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
    color: @headings-color;

    small,
    .small {
        font-weight: normal;
        line-height: 1;
        color: inherit;
    }

}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: @line-height-base-px;
    margin-bottom: (@line-height-base-px / 2);

    small,
    .small {
        font-size: 65%;
    }

}

h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: (@line-height-base-px / 2);
    margin-bottom: (@line-height-base-px / 2);

    small,
    .small {
        font-size: 75%;
    }

}

h1, .h1 {
    font-size: @font-size-h1;
}

h2, .h2 {
    font-size: @font-size-h2;
}

h3, .h3 {
    font-size: @font-size-h3;
}

h4, .h4 {
    font-size: @font-size-h4;
}

h5, .h5 {
    font-size: @font-size-h5;
}

h6, .h6 {
    font-size: @font-size-h6;
}


/// Paragraphs
/// @description Paragraph styles.
/// @example[html]
///   <p class="lead">Lorem ipsum dolor sit amet, doloribus ut iure beatae ullam fugiat perferendis repellendus consectetur sunt quidem ipsam. Unde.</p>
///   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vero nemo molestias, quas quisquam autem, aliquid.</p>

p {
    margin: 0 0 @line-height-base-px;
}

.lead {
    margin-bottom: @line-height-base-px;
    font-size: @font-size-lg;
}


/// Text Emphasis and Misc
/// @description ext Emphasis and Misc styles.

small,
.small {
    font-size: floor((100% * @font-size-sm / @font-size-base));
}

mark,
.mark {
    background-color: @state-warning-bg;
    padding: .2em;
}


// Text Alignment Utilities

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}


// Text Transformation Utilities

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}


// Text Truncate Utility

.text-truncate {
    width: 100%; // width property is required for text-overflow to work
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// Contextual colors

.text-muted {
    color: @text-muted;
}


/// Lists
/// @description List styles.

// Unordered and Ordered lists
ul,
ol {
    margin-top: 0;
    margin-bottom: (@line-height-base-px / 2);

    ul,
    ol {
        margin-bottom: 0;
    }

}

// List options
// Unstyled keeps list items block level. Just removes default browser padding and list-style
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
    .list-unstyled();
    margin-left: -5px;

    > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

}

// Description Lists
dl {
    margin-top: 0;
    // Remove browser default
    margin-bottom: @line-height-base-px;
}

dt,
dd {
    line-height: @line-height-base;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
    // Undo browser default
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {

    dd {
        &:extend(.clearfix all);
        // Clear the floated `dt` if an empty `dd` is present
    }

    @media (min-width:@dl-h-breakpoint) {
        dt {
            float: left;
            width: (@dl-h-offset - 20);
            clear: left;
            text-align: right;
            .text-overflow();
        }

        dd {
            margin-left: @dl-h-offset;
        }

    }

}


/// Blockquotes
/// @description Blockquote styles.

blockquote {
    padding: (@line-height-base-px / 2) @line-height-base-px;
    margin: 0 0 @line-height-base-px;
    font-size: @blockquote-font-size;
    border-left: 5px solid @blockquote-border-color;

    p,
    ul,
    ol {
        &:last-child {
            margin-bottom: 0;
        }

    }

    // Note:Deprecated small and .small as of v3.1.0
    // Context:https://github.com/twbs/bootstrap/issues/11660
    footer,
    small,
    .small {
        display: block;
        font-size: 80%;
        // back to default font-size
        line-height: @line-height-base;
        color: @blockquote-sm-color;

        &:before {
            content: '\2014 \00A0';
            // em dash, nbsp
        }

    }

}


/// Misc
/// @description Other misc typography styles.

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin as per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted @abbr-border-color;
}


// Addresses
address {
    margin-bottom: @line-height-base-px;
    font-style: normal;
    line-height: @line-height-base;
}
