<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_WDM_PromotionStatus"  CodeFile="~/CMSWebParts/WDM/PromotionStatus.ascx.cs" %>

<asp:Literal runat="server" ID="ltrResult"></asp:Literal>