<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_WDM_PromotionForm"  CodeFile="~/CMSWebParts/WDM/PromotionForm.ascx.cs" %>

<cms:BizForm ID="viewBiz" runat="server" IsLiveSite="true" />
<cms:LocalizedLabel runat="server" ID="lblError" Visible="false" ResourceString="WF.Promotion.AlreadySubmitted"></cms:LocalizedLabel>