﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RelatedPageList.ascx.cs" Inherits="CMSWebParts_WDM_RelatedPageList" %>


  <cms:CMSRepeater ID="CMSRepeater1" runat="server"   >     
  </cms:CMSRepeater>

