﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RelatedCaseStudyList.ascx.cs" Inherits="CMSWebParts_WDM_RelatedCaseStudyList" %>
<div class="sectors-member" runat="server" id="sectorMemberData" >
  <cms:CMSRepeater ID="rptCaseStudy" runat="server"   >
     
  </cms:CMSRepeater>
</div>
