﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PromotionCreator.ascx.cs" Inherits="CMSFormControls_WDM_PromotionCreator_PromotionCreator" %>

<div id="querybuilder"></div>
<asp:HiddenField runat="server" ID="hdnQuery" />
<asp:HiddenField runat="server" ID="hdnProducts" />