﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PromotionFormInvoiceNumber.ascx.cs" Inherits="CMSFormControls_WDM_PromotionFormInvoiceNumber" %>

<asp:TextBox runat="server" ID="txtValue" CssClass="form-control"></asp:TextBox>