// button.close {
//   padding: 0;
//   background-color: transparent;
//   border: 0;
//   -webkit-appearance: none;
// }
//
// .modal-open {
//   overflow: hidden;
// }
//
// .modal {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1050;
//   display: none;
//   overflow: hidden;
//   outline: 0;
// }
//
// .modal-open .modal {
//   overflow-x: hidden;
//   overflow-y: auto;
// }
//
// .modal-dialog {
//   position: relative;
//   width: auto;
//   margin: 0.5rem;
//   pointer-events: none;
// }
//
// .modal.fade .modal-dialog {
//   transition: -webkit-transform 0.3s ease-out;
//   transition: transform 0.3s ease-out;
//   transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
//   -webkit-transform: translate(0, -25%);
//   transform: translate(0, -25%);
// }
//
// @media screen and (prefers-reduced-motion: reduce) {
//   .modal.fade .modal-dialog {
//     transition: none;
//   }
// }
//
// .modal.show .modal-dialog {
//   -webkit-transform: translate(0, 0);
//   transform: translate(0, 0);
// }
//
// .modal-dialog-centered {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
//   min-height: calc(100% - (0.5rem * 2));
// }
//
// .modal-content {
//   position: relative;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   width: 100%;
//   pointer-events: auto;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-radius: 0.3rem;
//   outline: 0;
// }
//
// .modal-backdrop {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1040;
//   background-color: #000;
// }
//
// .modal-backdrop.fade {
//   opacity: 0;
// }
//
// .modal-backdrop.show {
//   opacity: 0.5;
// }
//
// .modal-header {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: start;
//   align-items: flex-start;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   padding: 1rem;
//   border-bottom: 1px solid #e9ecef;
//   border-top-left-radius: 0.3rem;
//   border-top-right-radius: 0.3rem;
// }
//
// .modal-header .close {
//   padding: 1rem;
//   margin: -1rem -1rem -1rem auto;
// }
//
// .modal-title {
//   margin-bottom: 0;
//   line-height: 1.5;
// }
//
// .modal-body {
//   position: relative;
//   -ms-flex: 1 1 auto;
//   flex: 1 1 auto;
//   padding: 1rem;
// }
//
// .modal-footer {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
//   -ms-flex-pack: end;
//   justify-content: flex-end;
//   padding: 1rem;
//   border-top: 1px solid #e9ecef;
// }
//
// .modal-footer > :not(:first-child) {
//   margin-left: .25rem;
// }
//
// .modal-footer > :not(:last-child) {
//   margin-right: .25rem;
// }
//
// .modal-scrollbar-measure {
//   position: absolute;
//   top: -9999px;
//   width: 50px;
//   height: 50px;
//   overflow: scroll;
// }
//
// @media (min-width: 576px) {
//   .modal-dialog {
//     max-width: 500px;
//     margin: 1.75rem auto;
//   }
//   .modal-dialog-centered {
//     min-height: calc(100% - (1.75rem * 2));
//   }
//   .modal-sm {
//     max-width: 300px;
//   }
// }
//
// @media (min-width: 992px) {
//   .modal-lg {
//     max-width: 800px;
//   }
// }
//
//
// .table {
//   width: 100%;
//   max-width: 100%;
//   margin-bottom: 1rem;
//   background-color: transparent;
// }
//
// .table th,
// .table td {
//   padding: 0.75rem;
//   vertical-align: top;
//   border-top: 1px solid #dee2e6;
// }
//
// .table thead th {
//   vertical-align: bottom;
//   border-bottom: 2px solid #dee2e6;
// }
//
// .table tbody + tbody {
//   border-top: 2px solid #dee2e6;
// }
//
// .table .table {
//   background-color: #fff;
// }
//
// .table-sm th,
// .table-sm td {
//   padding: 0.3rem;
// }
//
// .table-bordered {
//   border: 1px solid #dee2e6;
// }
//
// .table-bordered th,
// .table-bordered td {
//   border: 1px solid #dee2e6;
// }
//
// .table-bordered thead th,
// .table-bordered thead td {
//   border-bottom-width: 2px;
// }
//
// .table-borderless th,
// .table-borderless td,
// .table-borderless thead th,
// .table-borderless tbody + tbody {
//   border: 0;
// }
//
// .table-striped tbody tr:nth-of-type(odd) {
//   background-color: rgba(0, 0, 0, 0.05);
// }
//
// .table-hover tbody tr:hover {
//   background-color: rgba(0, 0, 0, 0.075);
// }
//
// .table-primary,
// .table-primary > th,
// .table-primary > td {
//   background-color: #b8daff;
// }
//
// .table-hover .table-primary:hover {
//   background-color: #9fcdff;
// }
//
// .table-hover .table-primary:hover > td,
// .table-hover .table-primary:hover > th {
//   background-color: #9fcdff;
// }
//
// .table-secondary,
// .table-secondary > th,
// .table-secondary > td {
//   background-color: #d6d8db;
// }
//
// .table-hover .table-secondary:hover {
//   background-color: #c8cbcf;
// }
//
// .table-hover .table-secondary:hover > td,
// .table-hover .table-secondary:hover > th {
//   background-color: #c8cbcf;
// }
//
// .table-success,
// .table-success > th,
// .table-success > td {
//   background-color: #c3e6cb;
// }
//
// .table-hover .table-success:hover {
//   background-color: #b1dfbb;
// }
//
// .table-hover .table-success:hover > td,
// .table-hover .table-success:hover > th {
//   background-color: #b1dfbb;
// }
//
// .table-info,
// .table-info > th,
// .table-info > td {
//   background-color: #bee5eb;
// }
//
// .table-hover .table-info:hover {
//   background-color: #abdde5;
// }
//
// .table-hover .table-info:hover > td,
// .table-hover .table-info:hover > th {
//   background-color: #abdde5;
// }
//
// .table-warning,
// .table-warning > th,
// .table-warning > td {
//   background-color: #ffeeba;
// }
//
// .table-hover .table-warning:hover {
//   background-color: #ffe8a1;
// }
//
// .table-hover .table-warning:hover > td,
// .table-hover .table-warning:hover > th {
//   background-color: #ffe8a1;
// }
//
// .table-danger,
// .table-danger > th,
// .table-danger > td {
//   background-color: #f5c6cb;
// }
//
// .table-hover .table-danger:hover {
//   background-color: #f1b0b7;
// }
//
// .table-hover .table-danger:hover > td,
// .table-hover .table-danger:hover > th {
//   background-color: #f1b0b7;
// }
//
// .table-light,
// .table-light > th,
// .table-light > td {
//   background-color: #fdfdfe;
// }
//
// .table-hover .table-light:hover {
//   background-color: #ececf6;
// }
//
// .table-hover .table-light:hover > td,
// .table-hover .table-light:hover > th {
//   background-color: #ececf6;
// }
//
// .table-dark,
// .table-dark > th,
// .table-dark > td {
//   background-color: #c6c8ca;
// }
//
// .table-hover .table-dark:hover {
//   background-color: #b9bbbe;
// }
//
// .table-hover .table-dark:hover > td,
// .table-hover .table-dark:hover > th {
//   background-color: #b9bbbe;
// }
//
// .table-active,
// .table-active > th,
// .table-active > td {
//   background-color: rgba(0, 0, 0, 0.075);
// }
//
// .table-hover .table-active:hover {
//   background-color: rgba(0, 0, 0, 0.075);
// }
//
// .table-hover .table-active:hover > td,
// .table-hover .table-active:hover > th {
//   background-color: rgba(0, 0, 0, 0.075);
// }
//
// .table .thead-dark th {
//   color: #fff;
//   background-color: #212529;
//   border-color: #32383e;
// }
//
// .table .thead-light th {
//   color: #495057;
//   background-color: #e9ecef;
//   border-color: #dee2e6;
// }
//
// .table-dark {
//   color: #fff;
//   background-color: #212529;
// }
//
// .table-dark th,
// .table-dark td,
// .table-dark thead th {
//   border-color: #32383e;
// }
//
// .table-dark.table-bordered {
//   border: 0;
// }
//
// .table-dark.table-striped tbody tr:nth-of-type(odd) {
//   background-color: rgba(255, 255, 255, 0.05);
// }
//
// .table-dark.table-hover tbody tr:hover {
//   background-color: rgba(255, 255, 255, 0.075);
// }
//
// @media (max-width: 575.98px) {
//   .table-responsive-sm {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//   }
//   .table-responsive-sm > .table-bordered {
//     border: 0;
//   }
// }
//
// @media (max-width: 767.98px) {
//   .table-responsive-md {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//   }
//   .table-responsive-md > .table-bordered {
//     border: 0;
//   }
// }
//
// @media (max-width: 991.98px) {
//   .table-responsive-lg {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//   }
//   .table-responsive-lg > .table-bordered {
//     border: 0;
//   }
// }
//
// @media (max-width: 1199.98px) {
//   .table-responsive-xl {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//   }
//   .table-responsive-xl > .table-bordered {
//     border: 0;
//   }
// }
//
// .table-responsive {
//   display: block;
//   width: 100%;
//   overflow-x: auto;
//   -webkit-overflow-scrolling: touch;
//   -ms-overflow-style: -ms-autohiding-scrollbar;
// }
//
// .table-responsive > .table-bordered {
//   border: 0;
// }
//
// .form-control {
//   display: block;
//   width: 100%;
//   padding: 0.375rem 0.75rem;
//   font-size: 1rem;
//   line-height: 1.5;
//   color: #495057;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid #ced4da;
//   border-radius: 0.25rem;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }
