//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:           #000;

@gray-darker:         lighten(@gray-base, 13.5%);
@gray-dark:           lighten(@gray-base, 20%);
@gray:                lighten(@gray-base, 33.5%);
@gray-light:          lighten(@gray-base, 46.7%);
@gray-lighter:        lighten(@gray-base, 93.5%);


/// Primary colors

@color-primary: #f99d21;
@color-success: #5cb85c;
@color-info:    #5bc0de;
@color-warning: #f0ad4e;
@color-danger:  #d9534f;

// base range
@color-primary-50:   lighten(@color-primary-500, 25%);
@color-primary-100:  lighten(@color-primary-500, 20%);
@color-primary-200:  lighten(@color-primary-500, 15%);
@color-primary-300:  lighten(@color-primary-500, 10%);
@color-primary-400:  lighten(@color-primary-500, 5%);
@color-primary-500:  @color-primary; // base color
@color-primary-600:  darken(@color-primary-500, 10%);
@color-primary-700:  darken(@color-primary-500, 20%);
@color-primary-800:  darken(@color-primary-500, 30%);
@color-primary-900:  darken(@color-primary-500, 40%);

// accent range
@color-primary-A50:  saturate(@color-primary-50, 20%);
@color-primary-A100: saturate(@color-primary-100, 20%);
@color-primary-A200: saturate(@color-primary-200, 20%);
@color-primary-A300: saturate(@color-primary-300, 20%);
@color-primary-A400: saturate(@color-primary-400, 20%);
@color-primary-A500: saturate(@color-primary-500, 20%);
@color-primary-A600: saturate(@color-primary-600, 20%);
@color-primary-A700: saturate(@color-primary-700, 20%);
@color-primary-A800: saturate(@color-primary-800, 20%);
@color-primary-A900: saturate(@color-primary-900, 20%);


/// Secondaty colors

@color-secondary:      #ff6347;

// base range
@color-secondary-50:   lighten(@color-secondary-500, 25%);
@color-secondary-100:  lighten(@color-secondary-500, 20%);
@color-secondary-200:  lighten(@color-secondary-500, 15%);
@color-secondary-300:  lighten(@color-secondary-500, 10%);
@color-secondary-400:  lighten(@color-secondary-500, 5%);
@color-secondary-500:  @color-secondary; // base color
@color-secondary-600:  darken(@color-secondary-500, 10%);
@color-secondary-700:  darken(@color-secondary-500, 20%);
@color-secondary-800:  darken(@color-secondary-500, 30%);
@color-secondary-900:  darken(@color-secondary-500, 40%);

// accent range
@color-secondary-A50:  saturate(@color-secondary-50, 20%);
@color-secondary-A100: saturate(@color-secondary-100, 20%);
@color-secondary-A200: saturate(@color-secondary-200, 20%);
@color-secondary-A300: saturate(@color-secondary-300, 20%);
@color-secondary-A400: saturate(@color-secondary-400, 20%);
@color-secondary-A500: saturate(@color-secondary-500, 20%);
@color-secondary-A600: saturate(@color-secondary-600, 20%);
@color-secondary-A700: saturate(@color-secondary-700, 20%);
@color-secondary-A800: saturate(@color-secondary-800, 20%);
@color-secondary-A900: saturate(@color-secondary-900, 20%);


//== Scaffolding
//
//## Settings for some of the most global styles.

@body-bg:                #fff;

@text-color:             @gray-dark;
@text-color-invert:      @gray-light;

@link-color:             @color-primary;
@link-hover-color:       darken(@link-color, 4%);
@link-decoration:        none;
@link-hover-decoration:  underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.



@font-family-sans-serif: "Open Sans", sans-serif;
@font-family-serif:      "Helvetica", "Roboto Slab", "Sanchez", "Arvo", "Merriweather", serif;
@font-family-monospace:  Menlo, Monaco, Consolas, "Courier New", monospace;


@font-size-base:       1.6rem;
@font-size-lg:         1.8rem;
@font-size-sm:         1.4rem;

@font-size-h1:         3rem;
@font-size-h2:         2.6rem;
@font-size-h3:         2.6rem;
@font-size-h4:         2.0rem;
@font-size-h5:         1.6rem;
@font-size-h6:         1.4rem;


@line-height-base:     1.375;
@line-height-lg:       1.7;
@line-height-sm:       1.3;

// Fixed units for line-heights, based of base font size
@line-height-base-px:  floor(@font-size-base * @line-height-base); // 2.2
@line-height-lg-px:    floor(@font-size-base * @line-height-lg);
@line-height-sm-px:    floor(@font-size-base * @line-height-sm);


@headings-font-family: @font-family-serif;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color:       @color-primary-500;



//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:         normal;

@btn-default-color:       #333;
@btn-default-bg:          #fff;
@btn-default-border:      #ccc;

@btn-primary-color:       #fff;
@btn-primary-bg:          @color-primary;
@btn-primary-border:      darken(@btn-primary-bg, 5%);

@btn-info-color:          #fff;
@btn-info-bg:             @color-info;
@btn-info-border:         darken(@btn-info-bg, 5%);

@btn-link-disabled-color: @gray-light;

// Allows for customizing button radius independently from global border radius
@btn-border-radius-base:  @border-radius-base;
@btn-border-radius-lg:    @border-radius-lg;
@btn-border-radius-sm:    @border-radius-sm;



//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-breadcrumbs:      900;
@zindex-navbar:           1000;
@zindex-dropdown:         1000;
@zindex-navbar-fixed:     1030;
@zindex-modal-background: 1040;
@zindex-popover:          1060;
@zindex-tooltip:          1070;
@zindex-modal:            1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1210px;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:      12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width: 15px;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);



//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-sm: (720px + @grid-gutter-width);
// Medium screen / desktop
@container-md: (940px + @grid-gutter-width);
// Large screen / wide desktop
@container-lg: (1190px + @grid-gutter-width);
// X-lg screen / wider desktop
@container-xl: (1390px + @grid-gutter-width);



//== Code
//
//##

@code-color:                #c7254e;
@code-bg:                   #f9f2f4;

@kbd-color:                 #fff;
@kbd-bg:                    #333;

@pre-bg:                    #f5f5f5;
@pre-color:                 @gray-dark;
@pre-border-color:          #ccc;
@pre-scrollable-max-height: 34rem;



//== Type
//
//##

//** Horizontal offset for forms and lists.
@component-offset-h:      1.8rem;

//** Text muted color
@text-muted:              @gray-light;

//** Abbreviations and acronyms border color
@abbr-border-color:       @gray-light;

//** Headings small color
@headings-sm-color:       @gray-light;

//** Blockquote small color
@blockquote-sm-color:     @gray-light;
//** Blockquote font size
@blockquote-font-size:    (@font-size-base * 1.25);
//** Blockquote border color
@blockquote-border-color: @gray-lighter;

//** Width of horizontal description list titles
@dl-h-offset:             @component-offset-h;
//** Point at which .dl-h becomes horizontal
@dl-h-breakpoint:         @grid-float-breakpoint;

//** Horizontal line color.
@hr-border-color:         @gray-lighter;



//== Forms
//
//##

//** `<input>` background color
@input-bg:                 #fff;
//** `<input disabled>` background color
@input-bg-disabled:        @gray-lighter;

//** Text color for `<input>`s
@input-color:              @gray;
//** `<input>` border color
@input-border:             #ccc;

//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius-base: 4px;
@input-border-radius-lg:   6px;
@input-border-radius-sm:   0;

//** Border color for inputs on focus
@input-border-focus:       @color-primary;

//** Placeholder text color
@input-color-placeholder:  #999;

//** Default `.form-control` height
@input-height-base: ((@font-size-base * @line-height-base) + (@padding-base-v * 2) + 0.2);
//** Large `.form-control` height
@input-height-lg:   ((@font-size-lg * @line-height-lg) + (@padding-lg-v * 2) + 0.2);
//** Small `.form-control` height
@input-height-sm:   ((@font-size-sm * @line-height-sm) + (@padding-sm-v * 2) + 0.2);

//** `.form-group` margin
@form-group-margin-bottom: @grid-gutter-width;

@legend-color:        @gray-dark;
@legend-border-color: #e5e5e5;

//** Background color for textual input addons
@input-group-addon-bg: @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:          not-allowed;



//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:   #3c763d;
@state-success-bg:     #dff0d8;
@state-success-border: darken(spin(@state-success-bg, -10), 5%);

@state-info-text:      #31708f;
@state-info-bg:        #d9edf7;
@state-info-border:    darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:   #8a6d3b;
@state-warning-bg:     #fcf8e3;
@state-warning-border: darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text:    #a94442;
@state-danger-bg:      #f2dede;
@state-danger-border:  darken(spin(@state-danger-bg, -10), 5%);



//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-v:     0.6rem;
@padding-base-h:     1.2rem;

@padding-lg-v:       1.0rem;
@padding-lg-h:       1.6rem;

@padding-sm-v:       0.5rem;
@padding-sm-h:       1.0rem;

@padding-xs-v:       0.1rem;
@padding-xs-h:       0.5rem;

@border-radius-base: 0.2rem;
@border-radius-lg:   0.6rem;
@border-radius-sm:   0.1rem;


//** Global color for active items (e.g., navs or dropdowns).
@component-active-color: #fff;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg: @color-primary;
