<%@ Control Language="C#" AutoEventWireup="true"  CodeFile="SKUPathFilter.ascx.cs" Inherits="CMSAdminControls_UI_UniSelector_SKUPathFilter" %>

<div class="filter-form-value-cell">
    <cms:CMSDropDownList ID="drpCondition" runat="server" CssClass="ExtraSmallDropDown" />
</div>