﻿.alert-notification {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 10px 15px;
    z-index: 9999;
    margin: 0 auto;
}
