////
/// Buttons
/// @description Button componenet styles.
/// @group Elements
/// @example[html] Button themes
///   <button class="btn btn-default">Default button</button>
///   <button class="btn btn-primary">Primary button</button>
/// @example[html] Button sizes
///   <button class="btn btn-default btn-sm">Default button</button>
///   <button class="btn btn-default btn-lg">Primary button</button>
////

/// Button base styles
/// @description Rules for base button styles, such as display, text-align, vertical-align, :hover and :focus styles etc.

.btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: @btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    .button-size(@padding-base-v; @padding-base-h; @font-size-base; @line-height-base; @btn-border-radius-base);

    &,
    &.active,
    &:active {
        &.focus,
        &:focus {
            .tab-focus();
        }

    }

    &.focus,
    &:focus,
    &:hover {
        color: @btn-default-color;
        text-decoration: none;
    }

    &.active,
    &:active {
        outline: 0;
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: @cursor-disabled;
        opacity: 0.65;
        box-shadow: none;
    }

    a & {
        &.disabled,
        fieldset[disabled] & {
            pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
        }

    }

}

/// Button themes
/// @description Modifier classes to style buttons with various color themes.

.btn-default {
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}

.btn-primary {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}


// Link buttons
// Make a button look and behave like a link
.btn-link {
    color: @link-color;
    font-weight: normal;
    border-radius: 0;

    // Update button theme styles to look as text link
    &,
    &.active,
    &:active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        box-shadow: none;
    }

    &,
    &:active,
    &:focus,
    &:hover {
        border-color: transparent;
    }

    &:focus,
    &:hover {
        color: @link-hover-color;
        text-decoration: @link-hover-decoration;
        background-color: transparent;
    }

    &[disabled],
    fieldset[disabled] & {
        &:focus,
        &:hover {
            color: @btn-link-disabled-color;
            text-decoration: none;
        }

    }

}

/// Button sizes
/// @description Modifier classes to set size of button

.btn-lg {
    // line-height: ensure even-numbered height of button next to large input
    .button-size(@padding-lg-v; @padding-lg-h; @font-size-lg; @line-height-lg; @btn-border-radius-lg);
}

.btn-sm {
    // line-height: ensure proper height of button next to small input
    .button-size(@padding-sm-v; @padding-sm-h; @font-size-sm; @line-height-sm; @btn-border-radius-sm);
}

.btn-xs {
    .button-size(@padding-xs-v; @padding-xs-h; @font-size-sm; @line-height-sm; @btn-border-radius-sm);
}

// Block button
// Make button display as block element

.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="button"],
input[type="reset"],
input[type="submit"] {
    &.btn-block {
        width: 100%;
    }

}
