.cashback-status-wrapper {

    border: 1px solid #f99d21;
    color: #000;
    margin-bottom: 10px;
    overflow: hidden;

    .inner{
      overflow:hidden;
      padding: 15px;
    }

    .cashback-status-heading{
      width: 100%;
      color: #fff;
      font-weight: bold;
      background-color: #f99d21;
      padding: 15px;
    }

    span {
        float: left;
        clear: both;
    }
}
