/* Style the tab */
/* Style the buttons inside the tab */
/* Style the tab content */
/* Change background color of buttons on hover */
/* Create an active/current tablink class */

@color_1: black;
@background_color_1: transparent;
@background_color_2: #ffffff;

body {
	font-family: Helvetica;
}

.landing-page-case-study {
    margin-top: 75px;

    .page-title-h1 {
        margin-bottom: 0px;
    }
}

.tab {
    overflow: hidden;
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    height: 120px;

    a {
        float: left;
        outline: none;
        cursor: pointer;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;

        &:first-of-type {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}
.tableft {
	a {
		color: black;
		border: 0.5px solid rgba(251, 170, 38, 1.0);
		&:hover {
			background-color: rgba(251, 170, 38, 1.0);
			color: white;
		}
	}
	a.active {
		background-color: rgba(251, 170, 38, 1.0);
		color: white;
	}
	float: left;
	margin-left: -15px;
	margin-top: -10px;
}
.tabright {
	a {
		color: black;
		border: 0.5px solid rgba(155, 155, 155, 1.0);
		&:hover {
			background-color: rgba(155, 155, 155, 0.5);
			color: white;
		}
	}
	a.active {
		background-color: rgba(155, 155, 155, 0.5);
		color: white;
	}
	float: right;
	margin-right: -15px;
    margin-top: -10px;
}
.tabcontent {
	display: none;
	padding: 6px 12px;
}
.tab-header-title {
	padding: 15px 0px;
	font-size: 13px;
    font-weight: bold;
	color: rgba(105, 105, 105, 1.0);
}
.lefttab {
	button {
		float: left;
		border: 0.5px solid rgba(155, 155, 155, 1.0);
		outline: none;
		cursor: pointer;
		padding: 6px 12px;
		font-size: 16px;
		&:hover {
			background-color: rgba(155, 155, 155, 1.0);
		}
	}
	button.active {
		background-color: rgba(155, 155, 155, 1.0);
		color: white;
	}
}
.column {
	float: left;
	width: 50%;
	padding: 10px;
   
}

.row-list {
    .column
    {
   height: 370px;
    }
}

.pagination-row {
	margin-top: 40px;
}

.row {
	padding: 10px;
}
.container-fluid {
    margin-top: 30px;
    img {
        width: auto;
 		height: auto;
		// padding: 10px 0px;
		display: block;
   		max-width: 100%;
    	// max-height: 100%;
    }

    .row {
        padding: 0px;
    }
}

.contactus-image {
	img {
		width: 100%;
		height: auto;
		padding: 0px;
	}
}

.contactus-background {
    background-color: rgba(248, 248, 248, 1.0);
    margin: .5px;
	box-shadow: 0 2px #d3d3d3;
	margin-top: 20px;
    h5 {
        color: rgba(105, 105, 105, 1.0);
        font-weight: bold;
        font-size: 14px;
    }
}
.contactus-background-mobile {
	display: none;

	.contactus-description {
		margin-top: -60px;
	}
}
.contactus-button {
	background-color: rgba(251, 170, 38, 1.0);
	border-width: 1px 1px 2px 1px;
	border-color: #FF9901;
	border-style: solid;
	color: white !important;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
}
.pagination-wrapper {
	width: 100%;
}
.pagination {
	width: 330px;
	display: flex;
 	justify-content: center;
	align-items: center;
	margin-top: 60px;
	a {
		color: black;
		float: left;
		padding: 8px 16px;
		border-radius: 22px;
		color: rgba(251, 170, 38, 1.0);
		text-decoration: none;
		transition: background-color .3s;
		margin-right: 15px;
		&:hover {
			&:not(.active) {
				background-color: rgba(251, 170, 38, 1.0);
				color: white;
				border-radius: 22px;
			}
		}
	}
	a.active {
		background-color: rgba(251, 170, 38, 1.0);
		color: white;
		border-radius: 22px;
		color: white;
	}

}
.all-web-tag {
	display: block;
}
.all-mobile-tag {
	display: none;
}

.map-popup {
width:290px;
}

.pagination-title {
    margin-top: 30px;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgba(51, 51, 57, 0.5) url('/Waratah/media/Generic-Site-Images/ajax-loader.gif') no-repeat center center;
}

#map {
	height: 430px;
	padding: 10px;
}

.contactus-background-web {
	h5 {
		 font-size: 1.675rem;
	}

	p {
		font-weight: 300;
		font-size: 1.5rem;
	}
}

.search-box {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 34px;
    border: 1px solid #FF9901;
    outline: 0;
    border-radius: 10px;

    &:focus {
        & + .close-icon {
            &:after {
                content: url('/Waratah/media/Generic-Site-Images/xbutton.png');
            }
        }
    }
}

.close-icon {
    position: relative;
    padding: 10px;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    float: right;
    margin-top: -37px;

    &:after {
        content: url('/Waratah/media/Generic-Site-Images/searchButton.png');
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: @background_color_2;
        z-index: 1;
        right: 35px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: @color_1;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
}

.required-text {
    position: relative;
    padding: 10px;
   color:#fff;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    float: right;
    margin-top: -37px;
    }

    .search-wrapper {
        position: relative;
        padding: 10px;
        width: 500px;
        margin: auto;
    }

    @media only screen and (max-width: 874px) {

        .pagination {
            margin-left: auto;
            margin-right: auto;
        }

        .pagination-row {
            margin-top: 80px;
        }
    }

    @media only screen and (max-width: 766px) {
        #map {
            display: none;
        }

        .contactus-background {
            margin-top: 60px;
        }

        .contactus-background-web {
            display: none;
        }

        .contactus-background-mobile {
            display: block;

            .row {
                padding: 25px;
            }
        }

        .all-web-tag {
            display: none;
        }

        .all-mobile-tag {
            display: block;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
    }

    @media only screen and (max-width: 692px) {
        .tabright {
            margin-top: 90px;
            float: left;
            margin-left: -417px;
        }

        .tab {
            height: 220px;
        }

        .landing-page-case-study {
            margin-top: -25px;

            .page-title-h1 {
                margin-top: 50px;
                margin-bottom: 0px;
            }
        }

        .contactus-background-mobile {

            .contactus-image {
                img {
                    padding: 5px;
                }
            }
        }

        .pagination-row {
            margin-top: 40px;
        }
    }

    @media only screen and (max-width: 500px) {
        .tab {
            a {
                padding: 8px 10px;
            }
        }

        .container-fluid {
            img {
                padding: 10px 0px;
            }
        }

        .row-list {
            .column {
                height: 350px;
            }
        }

        .contactus-background-mobile {
            img {
                height: auto;
                padding: 0px;
            }
        }
    }

    @media only screen and (max-width: 499px) {
        .tabright {
            margin-top: 15px;
            float: left;
            margin-left: -15px;
        }
    }


    @media only screen and (max-width: 430px) {
        .row-list {
            .column {
                height: 400px;
            }
        }

        .tab {
            height: 200px;
        }
    }

    @media only screen and (max-width: 415px) {
        .row-list {
            .column {
                height: 400px;
            }
        }

        .tab {
            a {
                padding: 8px 9px;
                font-size: 13px;
            }
        }
    }

    @media only screen and (max-width: 360px) {
        .tab {
            a {
                padding: 8px 9px;
                font-size: 12px;
            }
        }
    }

    @media only screen and (max-width: 320px) {
        .tab {
            a {
                padding: 8px 8px;
                font-size: 11px;
            }
        }

        .contactus-background-mobile {
            img {
                width: 50%;
                height: auto;
                padding: 50px;
            }
        }
    }
