@color_1: black;
@color_2: rgba(245, 166, 35, 1.0);
@color_solutions: rgba(105, 105, 105, 1.0);
@color_4: white;
@color_5: #696969;
@font_family_1: Helvetica;
@background_color_1: rgba(248, 248, 248, 1.0);
@background_color_2: rgba(251, 170, 38, 1.0);

@dot_color: #bbb;
@dot_active_color: white;

body {
	font-family: @font_family_1;
}
.description-main-container {
    h4 {
        color: @color_1;
        font-size: 20px;
    }

    padding-top: -10px;

    q {
        color: @color_2;
    }
}
h3 {
	color: @color_1;
    font-size: 20px;
    line-height: 1.375;
}

.description-quoted-text {
	color: @color_2;
	font-size: 20px;
}
.description-main-image-web {

	img {
		max-width: 100%;
        height: auto;
        width: auto\9;
	}

    p {
        margin-top: 10px;
    }
}
.description-main-image-mobile {
    display: none;
    p {
        margin-top: 10px;
    }

    img {
		max-width: 100%;
        height: auto;
        width: auto\9;
	}
}
.description-text {
    margin-left: -10px;
}
.description-line {
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}
.description-slides {
    overflow: hidden;
}
.description-main-image-section {
    padding: 20px;
    margin-top: -25px;
}
.bottom-fluid-containter {
    border-top: 1px solid rgba(151, 151, 151, 0.5);

    img {
        padding: 10px 0px;
        display: block;
        max-width:100%;
        max-height:100%;
        width: auto;
        height: auto;
    }

    .column {
        float: left;
        width: 25%;
        padding: 10px;
        display: inline-block;
        padding: 8px;
    }

    .row {
        padding: 0px;
    }
}
.explore-solution-title {
    p {
        padding: 10px;
        margin-bottom: -10px;
        font-weight: bold;
        font-size: 14px;
        color: @color_5;
    }
}

.distributor-background-web {
    .column {
        float: left;
        width: 25%;
        padding: 10px;
        display: inline-block;
    }

    display: block;

    h5 {
        color: @color_5;
        font-weight: bold;
        font-size: 14px;
    }
}
.find-store {
	background: rgba(248, 248, 248, 1.0);
	.column {
		width: 50%;
	}
    box-shadow: 0 2px #d3d3d3;
    margin-top: 30px;
    display: block;
}
.find-store-mobile {
    display: none;
    padding: 20px;
    background: rgba(248, 248, 248, 1.0);
}
.distributor-background-mobile {
    display: none;
    background-color: rgba(248, 248, 248, 1.0);
    padding: 20px;

    h5 {
        color: @color_5;
        font-weight: bold;
        font-size: 14px;
    }

    .distributor-description {
		margin-top: -60px;
	}
}

#portfolio-bottom {
    padding: 10px;
    display: none;
}

.description-address {
    margin-top: 50px;

    ul {
        list-style-type: none;
        margin-left: -30px;
    }

    h5 {
        color: rgba(105, 105, 105, 1.0);
        font-weight: bold;
        font-size: 14px;
    }
}

.image-caption {
    font-size: 14px;
    line-height: 1.375;
    color: #333;
}

.empty-caption {
    margin-top: -15px;
}

.description-spacing  {
    padding-top: 20px;
    padding-left: 10px;
}

.contactus-image {
	img {
		width: 100%;
		height: auto;
		padding: 25px;
	}
}
.distributor-background {
	background-color: @background_color_1;
	h4 {
		color: @color_5;
	}
}

.description-content {
    margin-top: -20px;
    padding-right: 20px;
    line-height: 1.375;
}

.contactus-button {
    background-color: @background_color_2;
    border-width: 1px 1px 2px 1px;
	border-color: #FF9901;
	border-style: solid;
    color: @color_4;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}
.dots {
    text-align: center;
    margin-top: -90px;
    position: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: @dot_color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
        background-color: @dot_active_color;
    }
}

.dot-mobile {
    height: 15px;
    width: 15px;
    background-color: @dot_color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.slideractive {
    background-color: @dot_active_color;
}

.location-caption {
    margin-top: 50px;
    position: absolute;
    font-size: 14px;
    left: 25px;
}

.location-caption-mobile {
    margin-top: 50px;
    position: absolute;
    font-size: 14px;
    display: none;
    left: 14px;
}

@media only screen and (max-width: 1420px) {
	.bottom-fluid-containter {
		img {
			padding: 10px 0px;
		}
	}
}

@media only screen and (max-width: 874px) {

    .pagination-row {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 768px) {
    .bottom-fluid-containter {
        
        img {
            padding: 10px 0px;
        }

        .column {
            float: left;
            width: 50%;
            padding: 10px;
            margin-left: -10px;
            height: 500px;
            max-height: 400px;
            overflow: inherit;
        }

        .row {
            padding: 5px;
        }
    }

    .description-address {
        margin-top: -20px;

        .row {
            padding: 0px;
        }
    }

    .distributor-background-web {
        display: none;
        box-shadow: 0px 2px lightGrey;
    }
    .distributor-background-mobile {
        display: block;
        box-shadow: 0px 2px lightGrey;
    }
	.description-main-image-web {
		display: none;
	}
	.description-main-image-mobile {
		display: block;

        p {
            font-weight:100;
        }

	}

    .mobile-padding-bottom {
        padding: 0px;
    }
    
    .find-store {
        display: none;
    }
    
    .description-content {
        margin-top: 80px;
        padding-right: 0px;
    }

    .mobile-line {
        display: none;
    }
    
    .description-main-image-section {
        padding: 20px;
        .row {
            padding: 10px;
        }
    }

    .web-line {
        display: none;
    }

    .explore-solution-title {
        margin-left: -10px;
    }

    #portfolio-bottom {
        padding: 10px;
        display: block;
        margin-top: -40px;
    }

    .description-line {
        .row {
            padding: 10px;
        }
    }

    .pagination-row {
        margin-top: 50px;
    }

    .location-caption-mobile {
        display: block;
    }

    .location-caption {
        display: none;
    }
}
