.purchaseinformation__table {
    th {
        text-align: left;
    }
}

.purchaseinformation {
    .modal-dialog {
        select {
            height: 40px!important;
        }
    }
}

.cashback-form-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;

    .form-control-group{
        margin-bottom: 20px;

        label{
            margin-bottom: 0;
        }
    }

    .form-control-group__checkbox{
      //float: left;
      //clear: both;
      //width: 100%;
      //overflow: hidden;
    }

    .cashback-form-checkbox-control,
    .cashback-form-checkbox-control2 {
        float: left;
        //width: 20px;
    }

    .cashback-form-checkbox-label,
    .cashback-form-checkbox-label2 {
        //float: left;
        //width: 90%;
        //clear: none;
    }

    .cashback-form-group-heading {
        font-size: 16px;
        font-weight: bold;
        color: #f99d21;
    }

    .cashback-form-label {
        //float: left;
        clear: both;
    }

    .cashback-form-control {
        input[type="checkbox"] {

        }

        .uploader-input-file {
            float: left;
            clear: both;
        }

        textarea {
            min-height: 100px;
        }

        select {
            height: 3.6rem!important;
        }

        input[type="submit"] {
            margin-top: 10px;
            margin-right: 10px;
        }
    }

    .cashback-form-validation{
        span{
            color: tomato;
            background: fade(tomato, 20%);
            border-color: tomato;
            font-size: 13px;
            padding: 4px;
        }
    }
    .cashback-form-validation.terms{
        span{
            margin-top: 30px;
        }
    }
    .invoice-upload{
        margin-bottom: 50px;
        
        .cashback-form-validation{
            span{
                margin-top: 30px;
            }
        }
    }
    @media(min-width:768px) {
        .cashback-form-control,
        .cashback-form-validation {
            width: 80% !important;
        }
    }
}
