.cashback-form-wrapper{
	.form-control-group{
		margin-bottom: 20px;

		label{
			margin-bottom: 0;
		}
	}
	.cashback-form-validation{
		span{
			color: tomato;
			background: fade(tomato, 20%);
			border-color: tomato;
			font-size: 13px;
			padding: 4px;
		}
	}
}