.catalogue-item-wrapper{
    overflow: hidden;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;

    img{
        position: relative;
        display: block;
        float: left;
        margin-right: 10px;
    }

    .catalogue-item-body{
        position: relative;
        margin-bottom: 10px;

        h3{
            width: 100%;
            margin-top: 0px;
        }

        span{
            clear: both;
        }
    }

    .download-button-wrapper{
        position: relative;
        height: 30px;
    }

    a.read-more {
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding: 5px 25px;
        background-color: #ffa826;
        border-radius: 4px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        border-style: solid;
        border: none;
        border-bottom: 3px solid #ff9900;
        transition: all 100ms;

        &:hover{
            border-bottom: 5px solid #ff9900;
        }
    }
}
