.contact-form-wrapper {
    margin-top: 20px;
    margin-bottom: 60px;

    .contact-form-label {
        float: left;
        clear: both;
    }

    .contact-form-control {
        float: left;
        clear: both;
        margin-bottom: 10px;
        width: 100%;

        textarea{
            min-height: 100px;
        }
    }

    .contact-form-validation {
        color: #f99d21;
        margin-bottom: 10px;
        float: left;
        clear: both;
    }

    .contact-form-submit {
        float: left;
        clear: both;
        margin-bottom: 40px;
        // position: absolute;
        // bottom: -35px;

        input[type="submit"] {
            padding: 5px 35px;
            background-color: #ffa826;
            border-radius: 4px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            border-style: solid;
            border: none;
            border-bottom: 3px solid #ff9900;
            transition: all 100ms;

            &:hover{
                border-bottom: 5px solid #ff9900;
            }
        }
    }

    .ErrorLabel {
        display: none;
    }
}

@media(min-width:768px){
    .contact-form-control,
    .contact-form-validation {
        width: 80% !important;
    }


}
