.main-content {
    display: block;
    min-height: 550px; // TODO: REMOVE LATER
}

.header {
    padding-top: 20px;
    background-color: #f99d21;
    margin-bottom: 40px;
}

.logo {
    z-index: 10;
    position: absolute;
    min-height: 1px;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    @media(max-width: 360px) {
        width: 160px;
    }
}

.banner-image {
    z-index: 1;
    position: relative;
    top: -22px;
    left: 100px;
    float: left;
    margin-bottom: -100px;

    img {
        height: 110px;
    }

    @media(max-width: @screen-sm-max) {
        display: none;
    }
}

.cart-preview {
    position: absolute;
    z-index: 10;
    width: auto;
    right: 170px;
    top: -25px;
    width: auto;
    background-color: #555;
    font-size: 13px;
    padding: 10px 15px 4px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    transition: all 220ms;

    &:hover {
        top: -23px;
    }

    a {
        float: left;
    }

    .cart-preview-label {
        display: inline-block;
        margin-right: 8px;
        font-weight: 700;
        color: #eee;
    }

    .cart-preview-value {
        display: inline-block;

        @media(min-width: 420px){
            clear: none;
        }
    }

    span {
        color: #eee;
    }


    @media(max-width: @screen-xs-max) {
        transition: none;
        right: 0px;
        top: 13px;
        border-radius: 10px 0px 0px 10px;
        padding: 5px 15px;

        &:hover {
            top: 13px;
        }

        .cart-preview-label,
        .cart-preview-value {
            display: block;
        }
    }

}

.header-user-actions {
    position: relative;
    z-index: 10;
    float: right;
    top: -24px;
    transition: all 220ms;
    margin-bottom: 5px;

    &:hover {
        cursor: pointer;
        top: -22px;
    }

    a {
        display: block;
    }

    @media(max-width: @screen-xs-max) {
        right: -5px;

        &:hover {
            right: -5px;
        }
    }
}

.search {
    z-index: 999;
    position: relative;
    float: right;
    clear: both;

    input[type="text"] {
        position: relative;
        top: -20px;
        height: 3.5rem;
        width: 320px;
        color: rgba(255,255,255,.8);
        padding-right: 38px;
        border-radius: 50px;
        background-color: #f9ae4a;
        box-shadow: none;
        border: 2px solid rgba(255,255,255,.5);
    }

    .search-button {
        position: absolute;
        top: -13px;
        right: 10px;
    }

    label {
        display: none;
    }

    @media (max-width: @screen-xs-max) {
        float: left;
        top: 50px;

        input[type="text"] {
            width: 200px;
        }
    }
}
