body{
    :link {
        text-decoration: none;
        color: #f99d21;
    }

    :visited {
        color: #f99d21;
    }
}

.main-content-zone {
    margin-bottom: 40px;
}

.breadcrumb-wrapper {
    margin-bottom: 20px;

    :link {
        text-decoration: none;
        color: #f99d21;
    }

    :visited {
        color: #f99d21;
    }
}

.page-title-h1 {
    h1 {
        margin-top: 0 !important;
    }
}
@media(min-width: 1210px) {
    .main-content-zone {
        margin-bottom: none;
    }
}

.page-intro-content {
    margin-bottom: 20px;
}

.editable-content {
    img {
        max-width: 100%!important;
    }

    ul {
        margin-left: 20px;
    }

    :link {
        text-decoration: none;
    }

    :visited {
        text-decoration: none;
    }
}

.ui-datepicker-calendar {
    background-color: aliceblue;
    width: 275px;

    .ui-state-default{
        border: 1px solid rgba(0,0,0,0);
    }
}

#ui-datepicker-div {
    width: 275px;
}
