.left-navigation {
    margin-top: 25px;
    margin-bottom: 20px;

    ul {
        .remove-list-styles();
    }

    li {
        position: relative;
        border-bottom: 1px solid #fff;

        // toggle button to open submenu
        > .toggle {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            width: 42px;
            height: 42px;
            background: rgba(0,0,0,0.1) url('../images/icons/submenu-arrow.png') center / 12px auto no-repeat;
            overflow: hidden; // hide text
            text-indent: -100%; // hide text
            cursor: pointer;

            &:hover {
                background-color: rgba(0,0,0,0.2);
            }
        }

        // toggle button that has opened submenu
        &.open > .toggle {
            transform: rotate(180deg); // point arrow up!
        }

        // default link styles
        a {
            font-weight: bold;
            display: block;
            padding: 10px 46px 10px 10px;
            color: #333;
            background: url('../images/rpt-brushed-steel-dark.jpg');

            &:hover {}
        }
    }

    // close menu
    li ul {
        display: none;
    }

    // open menu
    li.active-on-path > ul,
    li.open > ul {
        display: block;
    }

    // current page
    li.active > a {
        color: #fff;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2a24d+0,f78f1e+100 */
        background: #f2a24d;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f2a24d 0%, #f78f1e 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f2a24d 0%,#f78f1e 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f2a24d 0%,#f78f1e 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#f2a24d', endColorstr='#f78f1e',GradientType=0 );
        /* IE6-9 */

    }

    // sub level link styles
    li ul a {
        color: #333;
        font-weight: bold;
        // background-image: url('../images/rpt-brushed-steel.jpg');
        // border-left: 6px solid #fff;
        // border-right: 6px solid #fff;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,dbdbdb+98,000000+100 */
        background: #f4f4f4;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f4f4f4 0%, #dbdbdb 98%, #333 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f4f4f4 0%,#dbdbdb 98%,#333 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f4f4f4 0%,#dbdbdb 98%,#333 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#f4f4f4', endColorstr='#000000',GradientType=0 );

        &:hover{
            color: #fff;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2a24d+0,f78f1e+100 */
            background: #f2a24d;
            /* Old browsers */
            background: -moz-linear-gradient(top, #f2a24d 0%, #f78f1e 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #f2a24d 0%,#f78f1e 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #f2a24d 0%,#f78f1e 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#f2a24d', endColorstr='#f78f1e',GradientType=0 );
            /* IE6-9 */
        }
    }

}
