.logon-form-wrapper {
    input[type="text"] {
        width: 400px;
    }

    input[type="password"] {
        width: 400px;
    }

    input[type="submit"] {
        background-color: #ffa826;
        border-radius: 4px;
        margin-bottom: 10px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        border-style: none;
        border-bottom: 3px solid #ff9900;
    }

    :link {
        color: #f99d21;
    }

    :visited {
        color: #f99d21;
    }

    .control-label{
        margin-bottom: 10px;
    }
}

.logon-panel-password-retrieval{
    input[type="submit"] {
        background-color: #ffa826;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        border-style: none;
        border-bottom: 3px solid #ff9900;
    }
}

.profile-form-wrapper{
    input[type="submit"] {
        margin: 20px 8px;
        float: left;
        clear: both;
    }

    .profile-form-label{
        margin-bottom: 10px;
    }
}

.sign-out-button-wrapper{
    background-color: #ddd;
    padding: 20px;
    margin-right: 30px;

    input[type="submit"] {
        background-color: #ffa826;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        border-style: none;
        border-bottom: 3px solid #ff9900;
    }
}

.registration-form-wrapper{
    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        background-color: #ffa826;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        border-style: none;
        border-bottom: 3px solid #ff9900;
    }

    .profile-form-label{
        margin-bottom: 10px;
    }
}

.opt-in-group{
    .EditingFormControlNestedControl{
        float: left;
    }
}

.privacy-policy-opt-in-text{
    float: left;
    font-size: 12px;
    color: grey;
    font-weight: normal;
    margin-top: 3px;

    a{
        &:link{
            color: #ff9900;
        }

        &:visited{
            color: #ff9900;
        }
    }
}

@media(max-width: @screen-sm-max){
    .logon-form-wrapper {
        input[type="text"] {
            width: 100%;
        }

        input[type="password"] {
            width: 100%;
        }
    }
}
