

.navigation {
    position: relative;
    z-index: 20;
}

.main-nav {
    background-image: url('/WTF/theme/dist/images/rpt-brushed-steel.jpg');
    background-size: contain;
    height: 44px;
    vertical-align: middle;
    text-align: center;

    ul.nav {
        display: inline-block;
        position: relative;
        list-style: none;
        padding-left: 0;
        text-align: left;

        &::before,
        &::after {
          position: absolute;
          display: none;
          top: 0;

          @media (max-widht: @screen-md-max) {
            display: block;
          }
        }

        &::before {
            content: url('/WTF/theme/dist/images/nav-line-dark.jpg');
            left: -1px;
        }

        &::after {
            content: url('/WTF/theme/dist/images/nav-line-light.jpg');
            right: -1px;
        }

        li {
            position: relative;
            z-index: 999;

            &:hover{
                margin-bottom: 3px orange solid;
            }
        }
    }

    a {
        position: relative;
        line-height: 44px;
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        font-family: helvetica;
        font-weight: bold;
        text-decoration: none;

        &.item-current::after {
            position: absolute;
            filter: opacity(.5);
            margin-left: -50%;
            transform: translateX(-50%);
        }

        span {
            box-sizing: border-box;
            position: relative;
            z-index: 999;
            font-size: 12px;
            padding: 14px 20px;
            border-right: 1px solid #a7a7a7;
            border-left: 1px solid #f4f4f4;
        }
    }

    .item-selected-path{
        border-bottom: 3px solid #f99d21;
    }
}

.the-shining{
    position: absolute;
    opacity: 0.5;
}


.toggleMenu {
    position: absolute;
    bottom: 10px;
    display: none;
    background: #e08d1e;
    border-radius: 10px;
    padding: 0px 10px;
    float: right;
    color: #fff!important;
}

.nav {
    list-style: none;
}

.nav:after,
.nav:before {
    content: ' ';
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 200px;
}

.nav li {
    position: relative;
}

.nav > li {
    float: left;
}

.nav > li > .parent {
    background-repeat: no-repeat;
    background-position: right;
}

.nav > li > a {
    display: block;
}

.nav li ul {
    position: absolute;
    z-index: 900;
    border-left: 1px solid rgba(0,0,0,.4);
    border-right: 1px solid rgba(0,0,0,.4);
    left: -9999px;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.5);
}

.nav > li.hover > ul {
    left: 0;
}

.nav li li.hover ul {
    left: 100%;
    top: 0;
}

.nav li li a {
    display: block;
    position: relative;
    line-height: 36px;  // Sets the height of the navigation sub items
    z-index: 100;
    white-space: nowrap;

    background-color: #f4f4f4;
    #gradient.vertical(#f4f4f4, #dbdbdb);
    border-bottom: 1px solid #bbb;

    &:hover {
        background: #ddd; // remove gradient and set solid fill
        border-bottom-color: #dbdbdb;
    }
}

.nav li li a span {
    padding-left: 10px;
    border: none;
}

.nav li li li a {
    z-index: 200;
}

@media screen and (max-width: @screen-md-max) {
    .the-shining{
        visibility: hidden;
    }

    .banner-image{
        display: none;
    }

    .main-nav {
        background-image: none;

        a span {
            border-style: none;
        }

        ul.nav {
            width: 100%;
            background-color: #fff;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);

            span {
                display: block;
                width: 100%;
                text-align:center;

                background-color: #dbdbdb;
                #gradient.vertical(#dbdbdb, #b9b9b9);
                border-bottom: 1px solid #bbb;
            }
        }
    }

    .active {
        display: block;
    }

    .nav > li {
        float: none;
    }

    .nav > li > .parent {
        background-position: 95% 50%;
    }

    .nav li li .parent {
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    .main-nav ul.nav ul li span{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,dbdbdb+98,000000+100 */
        background: #f4f4f4;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f4f4f4 0%, #dbdbdb 98%, #000000 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f4f4f4 0%,#dbdbdb 98%,#000000 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f4f4f4 0%,#dbdbdb 98%,#000000 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#f4f4f4', endColorstr='#000000',GradientType=0 );
    }

    .nav > li.hover > ul,
    .nav li li.hover ul {
        position: static;
    }

}
