.news-article-list-item {
    position: relative;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    clear: both;
    background-color: #f5f5f5;
    padding: 10px;

    .news-article-list-item__inner{
        overflow: hidden;
        margin-bottom: -10px;
    }

    h3 {
        font-size: 18px;
        margin: 0;
    }

    img {
        width: 125px!important;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    span {
        width: 100%;
        clear: both;
        float: left;
        padding-top: 10px;
        // padding-right: 50px;
    }

    a.read-more {
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 5px 25px;
        background-color: #ffa826;
        border-radius: 4px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        border-style: solid;
        border: none;
        border-bottom: 3px solid #ff9900;
        transition: all 100ms;

        &:hover{
            border-bottom: 5px solid #ff9900;
        }

        &:link{
            text-decoration: none;
        }

        &:visited{
            text-decoration: none;
        }
    }
}

.news-article-content {
    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media(max-width: @screen-sm-max) {
    .news-article-list-item__inner{
        margin-bottom: 20px!important;
    }
    a.read-more {
        position: relative!important;
        display: block;
        right: auto!important;
        width: 100%;
    }
}

@media(min-width: 768px) {
    .news-article-list-item {
        img {
            width: 25%;
        }

        span {
            width: 70%;
            clear: none;
        }
    }
}
