.datetime-ui-datepicker select.datetime-ui-datepicker-month,
.datetime-ui-datepicker select.datetime-ui-datepicker-year {
    width: 50%;
    float: left;
}

.ui-datepicker-title{
    float: left;
}
.ui-datepicker-next, .ui-datepicker-prev{
    float: left;
    margin-top: 5px;
}

.promotions-form {
    .promotion-form-value-cell .cms-form-group-btn,
    .promotion-form-value-cell .cms-form-group-text,
    .promotion-form-value-cell .cms-input-group,
    .promotion-form-value-cell .form-control {
        max-width: 320px;
        display: inline-block;
        margin-right: 8px;
        vertical-align: top;
        font-size: 14px;
    }

    .promotion-form-value-cell .cms-form-group-btn,
    .promotion-form-value-cell .cms-form-group-text,
    .promotion-form-value-cell .cms-input-group,
    .promotion-form-value-cell .form-control {
        max-width: 320px;
        display: inline-block;
        margin-right: 8px;
        vertical-align: top;
        font-size: 14px;
    }

    .promotion-form-label-cell {
        width: 200px;
        float: left;
    }

    .mandatory-field {
        color: tomato;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    label {
        margin-right: 10px;
    }

    .date-time-picker {
        position: relative;
        width: 200px;
        float: left;

        button {
            opacity: 0;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
        }
    }

    margin-bottom: 20px;

    .promotions-form {
        label {
            font-weight: normal;
        }
    }

    .promotions-form {
        h4 {
            color: #f99d21;
        }
    }

    .promotion-form-group {
        clear: both;
        margin-top: 10px;
        overflow: hidden;

        .input-group {
            width: 245px;
        }

        ul {
            list-style: none;
            padding-left: 0;
        }
    }

    .uploader-main {
        .btn {
            display: inline-block;
            padding: 0 16px;
            margin: 0;
            font-size: 14px;
            font-family: 'Core-icons';
            line-height: 32px;
            width: auto;
            height: 32px;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
            cursor: pointer;
            border: none;
            // background: none;
            border-radius: 3px;
            white-space: nowrap;
            user-select: none;
            text-shadow: none;
        }
    }

    // .promotions-form-label-cell {
    //     width: 130px;
    //     float: left;
    // }
    //
    // .promotions-form-value-cell {
    //     display: inline-block;
    //     float: left;
    // }
    //
    // .promotions-form-validation-cell {
    //     float: left;
    //     clear: both;
    //     margin-left: 130px;
    //     margin-top: 10px;
    //     color: tomato;
    // }
}
@media(max-width: @screen-sm-max) {
    .promotions-form {
        select {
            width: 100%;
        }

        input[type="text"] {
            width: 100%;
        }

        .date-time-picker {
            width: 100%;
        }

        .promotion-form-label-cell {
            width: 100%;
            float: left;
        }

        .promotion-form-value-cell {
            width: 100%;
            float: left;
        }

        .promotion-form-validation-cell {
            float: left;
            clear: both;
            width: 100%;
            margin-left: 0;

            margin-top: 10px;
            color: tomato;
        }
    }
}
