.product-detail-page__for-sale{
    .main-content-zone{
        margin-bottom: 0px;
    }

    @media(max-width: @screen-sm-max) {
        .product-tab-wrapper{
            display: block;
            margin-bottom: 20px;
        }
    }

    .product-accordion-wrapper {
        display: none;
    }
}

.product-description {
    margin-bottom: 20px;
}

.product-brochure {
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;

    // show download icon before link
    a::before {
        content: '\f0ed';
        font-family: FontAwesome;
        font-size: 1em;
        margin-right: 5px;
        color: #f99d21;
    }

    :link {
        text-decoration: none;
    }

    :visited {
        text-decoration: none;
    }
}

.products-for-sale-row .col-md-6:nth-child(4n+1){
    clear:left!important;
}



.ui-widget{
    font-family: "helvetica";
    font-size: 16px;
}

.product-folder-intro-content {
    // TODO: Use this to tidy up any styles in content
}

.Product-Folder-Wrapper{
    clear: both;
    overflow: hidden;
}

.product-folder-tiles {
    .inner {
        padding: 0 -15px;
    }

    .product-folder-tile {
        position: relative;
        overflow: hidden;
        display: block;
        float: left;
        width: 175px;
        height: 175px;
        margin: 20px 15px 10px;
        background-size: cover;
        transition: all 220ms;
        box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.8);

        &:hover {
            transform: scale(1.1);
        }

        span {
            position: absolute;
            background-color: rgba(249,157,33,0.9);
            color: #fff;
            bottom: 0;
            width: 100%;
            padding: 5px 10px;
            font-size: 14px;
        }
    }
}

.product-details-mobile__section {
    padding: 20px;
}

.product-accordion-wrapper {
    display: none;
}

.product-tab-wrapper {
    display: block;
}

@media(max-width:550px) {
    .product-folder-tiles {
        .product-folder-tile {
            width: 100%;
            padding-bottom: 100%;
            margin: 5px auto;
            transition: none;

            &:hover {
                transform: scale(1);
            }
        }
    }
}

@media(max-width: @screen-sm-max) {
    .product-accordion-wrapper {
        display: block;
    }

    .product-tab-wrapper {
        display: none;
    }
}

@media(max-width: @screen-md-max) {
    .left-navigation{
        display: none;
    }
}
