
.product-tile {
    position: relative;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    margin: 0 0 10px -2px;

    a {
        color: #000;
        text-decoration: none;
    }

    .product-tile-status {
        z-index: 1;
        position: absolute;
        color: #fff;
        padding: 8px 15px;
        background-color: #f99d21;
        margin-top: 20px;
    }

    .product-tile-stock--notavailable {
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        padding: 15px;
        text-align: center;
        background-color: #bebebe;
    }

    .product-tile-image {
        position: relative;

        img {
            .img-responsive();
        }
    }


    .product-tile-image--notavailable {
        img {
            opacity: 0.4;
        }
    }

    .product-heading {
        padding: 10px;
        margin: 0;
        min-height: 60px;
        text-align: left;
        font-size: 18px;
        font-weight: normal;
        font-family: 'Source Sans Pro',sans-serif;
    }

    .product-rating-content {
        padding-left: 1.25rem;
        position: absolute;
        bottom: 54px;
    }

    .product-tile-info {
        font-weight: bold;
        padding: 0 10px 10px;
        bottom: 0;
    }
}
