.product-search-wrapper {
    position: relative;
}

.product-search-ddl {
    margin-bottom: 10px;

    select {
        height: 2em;
        width: 100%;
    }
}

.product-search-btn {
    position: absolute;
    bottom: -15px;
    right: 30px;

    input[type="submit"] {
        padding: 5px 35px;
        background-color: #ffa826;
        border-radius: 4px;
        text-align: center;
        font-size: 14px;
        color:#fff;
        border-style: solid;
        border: none;
        border-bottom: 3px solid #ff9900;
        transition: all 100ms;

        &:hover{
            border-bottom: 5px solid #ff9900;
        }
    }
}
