.SearchDialog {
    input[type="submit"] {
        position: relative;
        padding: 5px 35px;
        background-color: #ffa826;
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        margin: 10px 0;
        border-style: solid;
        border: none;
        border-bottom: 3px solid #ff9900;
        transition: all 100ms linear;
        // transform: translateY(2px);

        &:hover{
            border-bottom: 5px solid #ff9900;
            transform: translateY(-2px);
        }
    }

    select{
        margin-top: 10px;
        width: 300px;
    }

    input[type="text"]{
        margin-top: 10px;
        width: 300px;
    }
}
