.checkout-back-link {
    color: #f99d21;
    text-decoration: none!important;
    cursor: pointer;
}

.product-detail {
    .ProductOptionSelector {
        padding: 0 5px;
    }

    .OptionCategoryDescription {
        display: none;
    }

    .OptionCategoryName {
        margin-left: 5px;
    }

    .OptionCategoryError {
        margin-left: 5px;
        color: red;
        font-weight: bold;
    }

    .TotalPriceContainer {
        overflow: hidden;

        .TotalPriceLabel {
            float: left;
        }

        .TotalPrice {
            float: right;
        }
    }
}

.CartItemSelectorContainer {
    background-color: #e7e7e7;
    padding: 1.25rem;

    .available {
        font-weight: bold;
        color: #397c39;
    }

    .unavailable {
        font-weight: bold;
        color: red;
    }

    .TotalPriceContainer {
        margin-top: 10px;
    }

    label {
        float: left;
        margin-right: 10px;
        margin-top: 6px;
    }

    input[type="text"] {
        width: 60px;
        float: left;
    }

    input[type="submit"] {
        margin-top: 10px;
        width: 100%;
    }

    .AddToCartContainer {
        margin-top: 10px;
    }
}

.checkout-back-link {
    display: block;
    margin-top: 20px;
}

.checkout-container {
    .gray-box {
        background-color: #e7e7e7;
        margin-top: 10px;
        padding: 1.25rem;
    }

    .fixed {
        position: fixed;
        top: -8px;
    }

    .MessageLabelWrapper {
        display: block;
        margin-top: 10px;
        padding: 10px 10px 0;
        border: 1px solid red;
    }
}



.checkout-nav {
    background-color: #1d1d1d;
    line-height: 3.75rem;
    font-size: 1.25rem;
    text-transform: none;
    margin-top: 1.25rem;

    .progress-number {
        width: 37px;
        height: 37px;
        float: left;
        border-radius: 50%;
        font-size: 16px;
        margin-right: 1.25rem;
        text-align: center;
        background-color: #f5ad4d;
    }

    ul {
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        color: #fff;
        width: auto;
        float: left;
    }

    .selected {
        width: auto;
        float: left;
    }

    .inactive {
        width: auto;
        float: left;
        padding: 10px;
    }

    a {
        text-decoration: none;
        color: #fff;
        float: left;
        width: 100%;
        padding: 10px;
    }

    .selected > a,
    a:focus,
    a:hover {
        background-color: #f99d21;
    }
}

.customer-details {
    h4 {
        font-weight: bold;
    }

    .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .FormErrorLabel {
        font-size: 14px;
        display: block;
        width: 100%;
        padding: 2px 10px;
        margin-top: 5px;
        background-color: #ffe6e6;
        border: 1px solid #f98576;
        color: red;
    }

    .ErrorLabel {
        font-size: 14px;
        display: block;
        width: 100%;
        padding: 2px 10px;
        margin-top: 5px;
        background-color: #ffe6e6;
        border: 1px solid #f98576;
        color: red;
    }
}

.cart .first-separator {
    margin-top: 0;
}

.cart {
    .green {
        font-weight: bold;
        color: #397c39;
    }

    .red {
        font-weight: bold;
        color: red;
    }
}

.cart-item-info {
    padding-bottom: 1.25rem;

    a {
        color: #000;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
}

.cart-item-image {
    float: left;
    height: 100%;
    margin-right: 20px;
}

.cart-item-subtotal {
    margin-top: 10px;
    margin-left: 90px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.continue-shopping-link {
    margin-top: 10px;
}

.cart-item-amount {
    .clearfix();
    margin-left: 90px;

    span {
        padding-top: 5px;
        margin-right: 10px;
        font-size: 16px;
        float: left;
    }

    > div {
        float: left;
        width: 160px;
    }

    input[type="text"] {
        width: 50px;
        float: left;
        text-align: center;
        margin-top: 0;
        border-radius: 0;
        margin-right: 10px;
    }

    .UnitCountButton {
        margin-bottom: 10px;
    }

    .UpdateButton {}

    .RemoveButton {
        clear: left;
    }

    @media (min-width: @screen-xs-min) {
        .RemoveButton {
            clear: none
        }
    }
}

.cart-right-panel {
    background-color: #e7e7e7;
    padding: 1.25rem;

    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0;
        border-top: 1px dashed #bbb;
    }

    .cart-coupon-input {
        input[type="text"] {
            float: left;
            margin-right: 0.5rem;
            width: 69%;
            clear: both;
            margin-top: 0;
            height: 37px;
            border-radius: 0;
        }
    }

    .TotalViewer {
        overflow: hidden;
        font-size: 16px;
        width: 100%;

        .Label {
            float: left;
        }

        .Value {
            float: right;
        }
    }

    .cart-total {
        font-weight: bold;

        .Label {
            float: left;
        }

        .Value {
            float: right;
        }
    }

    .btn.checkout-button {
        width: 100%;
    }
}

.payment-selector {
    margin-top: 10px;

    select {
        margin-bottom: 10px;
    }
}

.cart-item-option {
    margin-top: 10px;
    margin-left: 90px;
}

.customer-details {
    .control-label {
        padding-top: 0;
    }
}

@media (min-width: @screen-sm-min) {
    .cart .cart-content {
        padding-right: 1.25rem;
    }

    .cart-item-subtotal {
        margin: 0;
        text-align: right;
    }
}
