.slick-next {
    position: absolute;
    right: 0;
    top: 40%;
    font-size: 28px!important;
    cursor: pointer;
}

.slick-prev {
    position: absolute;
    left: 0;
    top: 40%;
    font-size: 28px!important;
    cursor: pointer;
}

.wdm-slider-wrapper {
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 3px solid #e9eaea;
    margin-bottom: 20px;
}

.wdm-slider {
    padding: 0 35px;
}

.product-slider-image {
    position: relative;
    margin-right: 10px;

    span {
        position: absolute;
        background-color: rgba(0,0,0,.7);
        color: #fff;
        padding: 5px 10px;
        width: 100%;
        bottom: 0;
        font-size: 14px;
    }
}
