.homepage-intro-content-tile {
    float: left;
    padding: 20px 20px 30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 3px solid #e9eaea;

    p {
        margin: 0;
    }

    h1 {
        margin: 0;
    }
}

.option-tile-grey {
    float: left;
    padding: 20px 20px 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 210px;
    background-color: #f8f8f8;
    border-bottom: 3px solid #e9eaea;

    .promo-icon {
        text-align: center;
        margin-bottom: 10px;
    }

    h3 {
        text-transform: uppercase;
        margin: 0 0 10px;
        color: dimgrey;
        font-size: 14px;
        text-align: center;
        font-family: helvetica;
        font-weight: bold;
    }

    p {
        font-size: 14px;
        color: dimgrey;
        text-align: center;
    }
}

.promo-panel-read-more {
    position: absolute;
    display: block;
    cursor: pointer;
    padding: 7px 0;
    min-width: 120px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    background-color: #ffa826;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    border-bottom: 3px solid #ff9900;
    transition: all 100ms;

    span {
        color:#fff;

        :link {
            color: #fff;
            text-decoration: none;
        }

        :visited {
            color: #fff;
            text-decoration: none;
        }
    }

    &:hover {
        border-bottom: 5px solid #ff9900;
    }
}

.tile-grey {
    float: right;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-bottom: 3px solid #e9eaea;

    h3 {
        text-transform: uppercase;
        margin: 0 0 10px;
        color: dimgrey;
        font-size: 14px;
        text-align: left;
        font-family: helvetica;
        font-weight: bold;
    }
}

.share-tile-grey {
    float: right;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-bottom: 3px solid #e9eaea;

    .jssocials-share-link {
        border-radius: 50%;
        width: 30px;
        font-size: 14px;
    }

    .jssocials-shares {
        float: right;
        padding: 1px 10px;
        margin: 2px 0 -3px;
    }

    h3 {
        float: left;
        display: inline-block;
        vertical-align: middle;
        line-height: 3em;
        text-transform: uppercase;
        margin: 0;
        color: dimgrey;
        font-size: 14px;
        text-align: left;
        font-family: helvetica;
        font-weight: bold;
    }

    .social-icon-round {
        display: inline-block;
        float: right;
        padding: 10px 10px 0 0;
        cursor: pointer;
    }
}

.distributor-content {
    overflow: hidden;

    span {
        position: absolute;
        color: dimgrey;
        float: left;
        font-size: 14px;
        padding-right: 40%;

        &::before {
            content: url('/WTF/theme/dist/images/chevron-orange.png');
            padding-right: 5px;
        }
    }
}

.distributor-map {
    position: relative;
    float: right;
}
