<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_BizForms_Tools_PromotionBizForm_Edit_Data" EnableEventValidation="false"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Title="BizForm Data" Theme="Default"  CodeFile="PromotionBizForm_Edit_Data.aspx.cs" %>

<%@ Register Src="~/CMSModules/BizForms/Controls/PromotionBizFormEditData.ascx" TagName="BizFormData" TagPrefix="cms" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="plcContent">
    <cms:BizFormData runat="server" ID="bizFormData" />
</asp:Content>